@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Libre+Baskerville&family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 297px;
}
.title{
    position: absolute;
    top: 5rem;
    font-size: 2rem;
    min-width: 121px;
}
/* .member {
    position: absolute;
    top: 7.9rem;
    font-size: 0.8rem;
    min-width:168px;
} */
.label-float{
    position: relative;
}
.field {
    display: inline-block;
    border: thin solid #fafafa; 
    border-bottom: solid medium #999;
    color: #444;
    background-color: #fafafa;
    padding: 10px;
    margin: 15px;
    width: 100%;
}

.details {
    /* position: fixed; */
    position: absolute;
    top: 9.9rem;
    width: 280px;
    /* z-index:-1; */
}
.floating-label{
    position: absolute;
    bottom: 24px;
    left: 24px;
    /* right: 190px; */
    color: #999;
    transition: 0.2s;
    /* position: absolute; */
    pointer-events: none;
    font-size: 15px;
}
span{
    display: none;
}
.gender {
    margin: 15px;
    /* margin-top: px; */
    color: #999;
    width: 280px;
    display: inline-flex;
    align-items: center;
}
.male {
    margin-right: 10px;
}
legend{
    margin-left: 8px;
}
.ip {
    margin: 10px 20px;
}
.check{
    width: 10%;
    padding: 10px;
    margin: 5px;
    margin-left: 11px;
    line-height: normal;
}
.terms-conditions { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#terms-cond{
    display: inline-block;
    width: 280px;
}
.star-check {
    display: inline-block;
    color:red;
}
.submit-button{
    display: flex;
    justify-content: center;
    margin: 15px;
    color: #999;
    
}
.submit{
    padding:8px;
    font-size: 16px;
    border-radius: 10%;
    border: 0;
    background-color:#C7C8CC;
}
.field:focus ~ label, .field:valid ~ label , .field:valid:not(:focus) ~ label{
    position: absolute;
    color: green;
    background-color: #fff;
    left: 25px;
}
.field:valid:not(:focus) ~ field, .field:valid ~ .field{
    border: 2px solid black;
}
.field:invalid ~ .field{
    border: 2px solid red;
}
.text-field:focus ~ label, .text-field:valid ~ label{
    display: block;
    top:0.2rem;
    font-size: small;
    /* padding:10 5px 10 5px; */
    height: 20px;
}
.email-field:focus ~ label {
    display: block;
    top:0.2rem;
    font-size: small;
    /* color:red;
    background-color: #fff; */
    /* padding:10 5px 10 5px; */
    height: 20px;
}
.email-field:valid ~ label {
    display: block;
    top:0.2rem;
    font-size: small;
    /* color:red;
    background-color: #fff; */
    /* padding:10 5px 10 5px; */
    height: 20px;
}
.phone-field:focus ~ label {
    display: block;
    top:0.2rem;
    font-size: small;
    /* color:red;
    background-color: #fff; */
    padding:10 5px 10 5px;
    height: 20px;
}
.phone-field:valid ~ label{
    display: block;
    top:0.2rem;
    font-size: small;
    /* color:red;
    background-color: #fff; */
    padding:10 5px 10 5px;
    height: 20px;
}

/* input[type="submit"]:disabled {
    background: #dddddd;
  } */
/* @media only screen and (max-width: 209px) {
    .title{
        font-size: 1.5rem;
    }
} */
@media only screen and (max-width: 386px) {
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}